* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.swiper {
  height: 150px;
  background-image: url(tuna.jpeg );
  background-position: bottom;
  background-size: cover;
}// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
